
body{
    background-image: url("nutrition_background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    background-attachment: fixed;
   

}
h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: chocolate;
    width: 36vw;
   margin: auto;

   border: 1px solid black;
   border-radius: 2vw;
   text-align: center;
   }
   p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    background-color: #0eb137;
    width: 90vw;
    /* background-color: rgba(136, 189, 248,.4); */
    
   margin: 2.5vw;
   border: 1px solid black;
   box-sizing: border-box;
   

   }
ul{
    /* background-color:rgba(255, 187, 110, 0.47); */
    background-color: #a5e5bb81;
    font-size: 17px;
    box-sizing: border-box;
    width: 90vw;
   margin: 2.6vw;
   border: 1px solid black;
   border-radius: 2vw;
}

h3{
    margin: 2vw;
}
li.top{
 
    text-shadow: 1px;
    height: 1vw;
    border: 1px solid rgb(24, 24, 12);
    background-color: rgb(221, 121, 6);
    font-size: 1.52vw;
    border-radius: 2vw;
    width: 14vw;
    text-align: center;
    font-weight: 500;
    margin: 1vh;
    nav-index: auto;
    padding-bottom: 1vw;
}

li.top:hover{
    
    text-shadow: 1px;
    height: 1vw;
    border: 1px solid rgb(58, 57, 8);
    background-color: rgb(238, 153, 25);
    font-size: 1.7vw;
    border-radius: 2vw;
    width: 14vw;
    text-align: center;
    font-weight: 500;
    margin: 1vh;
    nav-index: auto;
    padding-bottom: 1vw;
   
}
a.topp{

    color: black;
    font-size: 2vw;
    padding-bottom: 2vh;
    flex-direction: column;


}

.lists.red{

    border: 2px solid ;
    width: 80vw;
    border-radius: 4px;
    font-weight: 200;
    border-color: rgba(63, 32, 7, 0.603);

}

button.dec{

    display: inline;
    background-color: rgba(17, 209, 27, 0.26);
    
   
}
button.inc{
display: inline;
background-color: rgba(197, 58, 58, 0.61);


}
button.dec:hover{

    background-color: rgb(43, 255, 0)
}

button.inc:hover{
    background-color: rgba(255, 0, 0, 0.651);

}
.val{
    float: right;
   float: inline-end;
}
