
body{
    background-image: url("nutrition_background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    background-attachment: fixed;
   

}
h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: chocolate;
    width: 36vw;
   margin: auto;

   border: 1px solid black;
   border-radius: 2vw;
   text-align: center;
   }
   p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    background-color: #0eb137;
    width: 90vw;
    /* background-color: rgba(136, 189, 248,.4); */
    
   margin: 2.5vw;
   border: 1px solid black;
   box-sizing: border-box;
   border-radius: .9vw;
   

   }
ul{
    /* background-color:rgba(255, 187, 110, 0.47); */
    background-color: #a5e5bb81;
    font-size: 17px;
    box-sizing: border-box;
    width: 90vw;
   margin: 2.6vw;
   border: 1px solid rgba(0, 0, 0, 0.897);
   border-radius: 2vw;
   width: 95vw;
}

h3{
    margin: 2vw;
}

li.topmost{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: double;
    text-indent: 2px;
  
    border-radius: 2vw;
    width: 30vw;
}

.link{

color: black;
font-size: 1.7vw;
font-size: 2vh;

}
.link:hover{
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-size: 2.1vh;
    background-color: rgba(23, 241, 241, 0.541);
    border-radius: 3px;

}
.ing{
    border: 2px solid ;
    width: 80vw;
    border-radius: 4px;
    font-weight: 200;
    border-color: rgba(26, 158, 9, 0.671);


}
button.dec{

    display: inline;
    background-color: rgba(17, 209, 27, 0.26);
    
   
}
button.inc{
display: inline;
background-color: rgba(197, 58, 58, 0.61);


}
button.dec:hover{

    background-color: rgb(43, 255, 0)
}

button.inc:hover{
    background-color: rgba(255, 0, 0, 0.651);

}
.val{
    float: right;
   float: inline-end;
}
.count{

    font-weight: 550;
    

}
